<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./info.css">
    <title>Info - Trinity Bullet</title>
</head>

<body>
    <div class="container">
        <div class="virus"><%= @virusSum.to_s(:delimited) %></div>
        <div class="virusmax"><%= @virusMax.to_s(:delimited) %>匹</div>
        <div class="redpoint"><%= @redTeamSum %></div>
        <div class="bluepoint"><%= @blueTeamSum %></div>
        <div class="greenpoint"><%= @greenTeamSum %></div>
    </div>

<script>
    function doMoveRanking() {
    window.location.href = '/ranking';
    }

    window.addEventListener('load', function () {

    // ページ表示完了した10秒後にリロード
    setTimeout(doMoveRanking, 10000);

    });
</script>
</body>
</html>