<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./result.css">
  <title>Result - Trinity Bullet</title>
</head>

<body>
  <div class="header">
    <img class="difficult" src="./img/<%= @difImg %>.png" id="RANK">
  </div>

  <div class="container">
    <div class="rank">
      <img class="result_img" src="./img/<%= @gameResult %>.png" id="RANK">

      <img class="rank_img" src="./img/rank_<%= @rank %>.png" id="RANK">
    </div>

    <div class="detail">
      <div class="name">
        <a><%= @player[:name] %></a>
      </div>
      <div class="score">
        <a><%= @player[:score].to_s(:delimited) %></a>
      </div>
      <div class="detail2">
        <div class="team">
          <img class="team_img" src="./img/<%= @team %>.png" id="TEAM">
        </div>
        <div class="virus">撃破ウイルス数<a><%= @player[:virusnum] %></a>
        </div>
        <div class="panel">踏んだパネルの数
          <table>
            <tr>
              <th>Red</td>
              <td><%= @player[:redPoint] %></td>
            </tr>
            <tr>
              <th>Blue</td>
              <td><%= @player[:bluePoint] %></td>
            </tr>
            <tr>
              <th>Green</td>
              <td><%= @player[:greenPoint] %></td>
            </tr>
          </table>
        </div>
      </div>


    </div>
  </div>



  <div class="footer">残りウイルスは <%= @virusSum.to_s(:delimited) %>匹 だ！キミの活躍でこの世界は救われる。</div>


<script>
// reloadの応用方法
// キャッシュを利用してリロードする方法
function doReloadWithCache() {
 
    // キャッシュを利用してリロード
    window.location.reload(false);
 
}
 
window.addEventListener('load', function () {
 
    // ページ表示完了した3秒後にリロード
    setTimeout(doReloadWithCache, 3000);
 
});
</script>
</body>

</html>